.modal-background {
    z-index: 6;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* couleur de fond assombri */
}

.modal {
    position: relative;
    box-sizing: border-box;
    border: 2px solid rgb(47, 47, 47);
    border-radius: 5px;

    /* Animations */
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transform: scale(0.7);
    opacity: 0;
}

/* Style du modal lorsqu'il est visible */
.modal.show {
    transform: scale(1);
    opacity: 1;
}

.close-modal {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(221, 221, 221);
    background: none;
    border: none;
    border: 1.5px solid #2b2b2b00;

    border-bottom-left-radius: 4px;
    font-size: 23px;
    font-weight: 600;
    height: 34px;
    width: 34px;
}

.close-modal:hover,
.close-modal:active,
.close-modal:focus {
    cursor: pointer;
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    box-sizing: border-box;
    border: 1.5px solid #2b2b2b;
}

/* Search suggestion answer */

#searchModal {
    position: absolute;
    top: 50px;
    display: none;
    flex-direction: column;
    background-color: #161616;
    width: 40%;
    max-width: 450px;
    min-width: 340px;
    max-height: 85vh;
    padding: 25px 0px 5px 0px;
}

span.search-question {
    display: flex;
    margin-bottom: 18px;
    font-family: "switzer", serif;
    font-size: 17px;
    color: #c8c8c8;
    padding: 0px 5px;
}

div.search-bar {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 15px 0px 15px;
}

input.search {
    font-family: "switzer", serif;
    background-color: #202020;
    color: #979797;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;

    font-size: 17px;
    width: 100%;
    height: 45px;
    padding: 5px 20px;
}

input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active {
    outline: none !important;
}

div.suggestions {
    display: flex;
    flex-direction: column;

    margin-top: 25px;
    max-height: 60vh;
    overflow-y: scroll;
}

span.single-suggestion {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    border-bottom: 2px solid rgb(20, 20, 20);

    padding: 5px 25px;
}


span.single-suggestion p {
    color: #bebebe;
    padding-right: 10px;
    font-size: 18px;
    font-family: "switzer", serif;
}

span.single-suggestion button {
    font-family: "switzer", serif;
    color: white;
    background-color: #558c57;
    border: none;
    border-radius: 3px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 20px;
    height: 36px;
    font-weight: 500;
    line-height: 22px;
}

span.single-suggestion button:hover,
span.single-suggestion button:active,
span.single-suggestion button:focus {
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    cursor: pointer;
    background-color: #487349;
}

@media only screen and (max-width: 768px) {
    span.single-suggestion {
        padding: 5px 20px;
    }

    span.single-suggestion p {
        font-size: 16px;
        padding-right: 6px;
    }

    span.single-suggestion button {
        padding: 5px 12px;
        height: 38px;
        font-size: 12px;
    }

    .input-search {
        font-size: 16px;
    }
}

/* Game over */

#gameOverModal {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    align-items: center;
    background-color: #161616;
    width: 100%;
    height: 100vh;
    font-family: "switzer", serif;
    overflow-y: scroll;
}

.show-answers {
    justify-content: flex-start !important;
}

.go-box {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 60%;
    max-width: 600px;
    min-width: 340px;
    padding: 70px 3px 100px 3px;
    color: rgb(220, 220, 220);
    text-align: center;
}

.gameOverLogo {
    position: relative;
    width: 115px;
}

.go-text {
    margin-bottom: 6px;
    margin-top: 8px;
    font-weight: 100;
    line-height: 25px;
    font-size: 18px;
    font-family: "switzer", serif;
    text-transform: uppercase;
}

.go-best-answer {
    line-height: 25px;
    font-size: 15px;
}

.go-text b {
    font-size: 15px;
    font-weight: 600;
    font-family: "switzer", serif;
}

#go-points {
    margin-bottom: -5px;
    margin-top: -5px;
    margin-right: 5px;
    font-size: 45px;
    font-weight: 800;
    color: #d3c56b;
    font-family: "switzer", serif;
}

.go-finalscore {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.two-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 18px;
}

.two-column span {
    width: 90px;
    margin: 5px 6px;
    text-align: center;
    font-size: 13.5px !important;
    text-transform: uppercase;
    line-height: 17px;
}

.two-column span b {
    display: inline-block;
    padding-top: 10px;
    font-size: 35px !important;
    font-weight: 800;
    font-family: "switzer", serif;
}

#go-percentile {
    font-size: 22px;
    font-weight: 300;
    margin-left: 5px;
}

div.go-bestanswers {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 28px;
}

div.go-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

div.go-buttons button {
    box-sizing: border-box;
    margin: auto 8px auto 8px;
    width: 135px;
    height: 45px;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    font-size: 13.5px;
}

div.go-buttons button:hover,
div.go-buttons button:active,
div.go-buttons button:focus {
    font-size: 15px;
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    cursor: pointer;
}

/*
button.go-share
{
    background: none;
    border: 1.2px solid whitesmoke;
    color: whitesmoke;
}
*/

button.go-share {
    background: whitesmoke;
    border: 1.5px solid whitesmoke;
    color: #161616;
}

button.go-leaderboard {
    background: #b3a64f;
    border: 1.5px solid #b3a64f;
    color: #ffffff;
}

/* Arcvhive */

#feedbackModal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #161616;
    width: 40%;
    max-width: 400px;
    min-width: 340px;
    padding: 10px 25px 30px 25px;
    color: rgb(220, 220, 220);
}

#archiveModal {
    z-index: 7;
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    background-color: #161616;
    width: 88%;
    max-width: 450px;
    min-width: 320px;
    font-family: "switzer", serif;
    overflow-y: scroll;
    height: 88vh;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 50px;
    padding-bottom: 80px;
}

P.archive-text
{
    text-align: center;
    color: white;
    margin-top: 25px;
}

.table-archive
{
    width: 50%;
    min-width: 280px;
    max-width: 450px;
    margin-top: 30px;
    text-align: center;
    color: whitesmoke;
    border-collapse: collapse;
}

.table-archive thead
{
    height: 35px;
    border-bottom: 1px solid white !important;
    background-color: whitesmoke;
    color: #161616;
    font-size: 14px;
}

.table-archive tbody tr
{
    height: 38px;
    border-bottom: 1px solid #2b2b2b;
}

.table-archive td
{
    font-size: 14px;
}

.table-archive a
{
    color: white !important;
}

/* Leaderboard */

#LeaderboardModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    background-color: #161616;
    width: 100%;
    min-width: 350px;
    font-family: "switzer", serif;
    overflow-y: scroll;
    height: 100vh;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 50px;
    padding-bottom: 80px;
}

.list-leaderboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.lb-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 60%;
    max-width: 600px;
    min-width: 340px;
    padding: 10px 20px 10px 20px;
    color: rgb(220, 220, 220);
    text-align: center;
}

.lb-logo {
    position: relative;
    width: 115px;
}

.lb-text {
    /* font-size: 13px; */
}

.ranking-bloc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ranking-row {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 280px;
    background: #1a1a1a;
}

.ranking-number {
    width: 75px;
    font-weight: 700;
}

.rn-first {
    color: #ffeb7e;
}

.rn-second {
    color: #bcbcbc;
}

.rn-third {
    color: #985525;
}

.ranking-initial {
    width: 100px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.ranking-score {
    width: 75px;
    font-weight: 300;
    font-size: 18px;
}

.rr-dark {
    background: #272727;
}

.highlight-green {
    background-color: #487349 !important;
}

/* icon */

.form-group-selection
{
    width: 280px;
    display: flex;
    flex-direction: row;
}

div.info-group
{
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* The icon */
.help-tip{
	margin: auto;
    text-align: center;
    border: 2px solid #dcdcdc;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    font-size: 14.5px;
    line-height: 20px;
    cursor: default;
    margin-left: 10px;
    font-family: "switzer", serif;  
}

.help-tip:before{
    content:'i';
    font-family: "switzer", serif;
    font-weight: 600;
    color:#dcdcdc;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease;
    animation: fadeIn 0.3s ease;
}

/* The tooltip */
.help-tip p {    
	display: none;
    font-family: "switzer", serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	background-color: #FFFFFF;
	padding: 12px 15px;
    width: fit-content;
    max-width: 280px;
	height: auto;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 5%);
	border-radius: 3px;
	box-shadow: 0 0px 20px 0 rgba(0,0,0,0.1);
	color: #37393D;
	font-size: 12px;
	line-height: 18px;
	z-index: 99;
    -webkit-animation: fadeIn 0.1s ease;
    animation: fadeIn 0.1s ease;
}

.help-tip p a {
	color: #067df7;
	text-decoration: none;
}

.help-tip p a:hover {
	text-decoration: underline;
}

/* The pointer of the tooltip */
.help-tip p:before { 
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color:#FFFFFF;
	top: -9px;
	left: 50%;
	transform: translate(-50%, -50%);
}

 /* Prevents the tooltip from being hidden */
.help-tip p:after {
	width: 10px;
	height: 40px;
	content:'';
	position: absolute;
	top: -40px;
	left: 0;
}

/* CSS animation */
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity: 1; }
}

/* Enter your initial modal */

.initialForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
}

.im-text {
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 17px;
    font-family: "switzer", serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: whitesmoke;
}

.im-text2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 17px;
    font-family: "switzer", serif;
    text-align: center;
    font-weight: 300;
    color: whitesmoke;
}

input[name="playerInitial"] {
    height: 48px;
    width: auto;
    background: #101010;
    color: #efefef;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid #272727;
    border-radius: 1px;
}

.im-buttons {
    display: flex;
    flex-direction: row;
    gap: 18px;
    width: 160px;
    align-self: center;
}

.no-thanks {
    background: none !important;
    border: 1px solid #5e5e5e !important;
}

/* Error modal */

#errorModal
{
    display: none;
}

.error-container
{
    background: #101010;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 350px;
}

.error-icon
{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}


/* Select  leaderboard group */

#playerGroup {
    background-color: #161616;
    color: white;
    border: 1px solid #272727;
    padding: 5px;
    padding-left: 5px;
    border-radius: 5px;
    height: 48px;
    width: 240px;
    padding-left: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-family: "switzer", serif;
    color: rgb(220, 220, 220);
}

#playerGroup option {
    background-color: #161616;
    font-size: 16px !important;
    color: rgb(220, 220, 220) !important;
    text-transform: capitalize !important;
    font-family: "switzer", serif !important;
}

#playerGroup:focus {
    outline: none;
    border-color: #6c6c6c;
}

/* Subscribing form */

.subscribing {
    margin-top: 10px;
}

.sf-form {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.sf-email {
    height: 42px !important;
    width: 190px;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 14px !important;
    font-size: 14px;
    border: none;
    box-shadow: inset 0px 0px 10px rgba(18, 18, 18, 0.4);
}

.sf-submit {
    height: 42px;
    width: 78px;
    box-sizing: border-box;
    margin-left: -5px;
    background: #487349;
    color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    font-weight: 600;
    font-size: 15px;
}

.sf-submit:hover,
.sf-submit:active,
.sf-submit:focus {
    cursor: pointer;
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    background: #344d34;
}

#sf-message {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 300;
}

/* __________________ */

/* Rules */

#rulesModal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #161616;
    width: 95%;
    max-width: 600px;
    min-width: 350px;
    padding: 5px 5px 12px 15px;
    color: rgb(220, 220, 220);
}

h3 {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    margin: 5px 0px -10px 0px;
    font-size: 26px;
    font-weight: 700;
    font-family: "switzer", serif;
    margin-bottom: 2px;
    margin-top: 10px;
}

div.rules-text {
    font-family: "switzer", serif;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 22px;
    max-height: 65vh;
    overflow-y: scroll;
}

div.rules-text p {
    margin-top: 10px;
}

div.rules-text a {
    color: whitesmoke !important;
}

div.rules-text strong {
    font-size: 16px;
    font-weight: 500;
}

#rulesModal button.play,
.copy-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "switzer", serif;
    color: white;
    background-color: #558c57;
    border: none;
    border-radius: 3px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    margin-bottom: 5px;

    font-size: 16px;
    width: 220px;
    text-transform: uppercase;
    padding: 14px 20px;
    height: 50px;
    font-weight: 700;
}

#rulesModal button.play:hover,
#rulesModal button.play:active,
#rulesModal button.play:focus,
.copy-btn:hover,

.copy-btn:focus,

.copy-btn:active {
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    cursor: pointer;
    background-color: #487349;
}

/* Feedback */

#feedbackModal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #161616;
    width: 40%;
    max-width: 400px;
    min-width: 340px;
    padding: 10px 25px 30px 25px;
    color: rgb(220, 220, 220);
}

.feedback-text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-family: "switzer", serif;
}

.feedback-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: "switzer", serif;
}

.feedback-form label {
    width: 100%;
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.feedback-form input[type=text],
.feedback-form input[type=email],
.feedback-form textarea {
    color: rgb(214, 214, 214);
    box-sizing: border-box;
    border: 1px solid rgb(103, 103, 103);
    background: none;
    border-radius: 1px;
    padding: 5px 15px;
    width: 100%;
    font-size: 15px;

    height: 44px;
}

.feedback-form textarea {
    resize: none;
    padding-top: 15px;
    height: 21vh;
}

.feedback-form .send {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: flex-end;
    font-family: "switzer", serif;
    color: white;
    background-color: #55628c;
    border: none;
    border-radius: 3px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 5px;

    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    width: 100px;
    text-transform: uppercase;
    padding: 10px 14px;
    height: 40px;
}

.feedback-form .send:hover,
.feedback-form .send:active,
.feedback-form .send:focus {
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    cursor: pointer;
    background-color: #374162;
}

/* Statistics  */

#statsModal {
    z-index: 6;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #161616;
    width: 50%;
    max-width: 450px;
    min-width: 340px;
    padding: 10px 25px 30px 25px;
    color: rgb(220, 220, 220);
}

.statsModal-text {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    font-family: "switzer", serif;
    text-align: center;
}

.smt1 {
    margin-top: 0px;
    font-size: 16px;
}

.smt2 {
    font-family: "Inkut Antiqua", serif;
    font-size: 15px;
    font-weight: 600;
}

.boxes-container {
    padding-top: 20px;
    border-top: 1.5px solid rgb(39, 39, 39);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#statsModal .box {
    font-family: 'switzer', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    height: 100px;
    width: 90px;
    margin: 10px;
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
}

.box:hover {
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    transform: scale(1.15);
}

#statsModal p.stats-value {
    display: block;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #d3c56b;
}

#statsModal label {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #cfcfcf;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    #statsModal .box {
        width: 80px;
        height: 90px;
        margin: 6px;
    }

    #statsModal p.stats-value {
        font-size: 19px;
    }

    #statsModal label {
        font-size: 14px;
    }
}

/* Share Modal */

.share-container {
    display: none;
    width: 85%;
    max-width: 450px;
    min-width: 340px;
    align-self: center;
    z-index: 7;
    position: absolute;
    /*  
    top: 50%;
    left: 50%;*/
    transform: translate(-50%, -50%);
    background: #191919;
    padding: 40px 35px 30px 35px;
}

.share-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.share-text-container textarea {
    text-align: center;
    line-height: 25px;
    background-color: #161616;
    min-height: 140px;
    height: fit-content;
    color: #efefef;
    font-family: "switzer", serif;
    border: none;
    border-radius: 5px;
    padding: 20px 10px;
    font-size: 17px;
    margin-bottom: 15px;
    resize: none !important;
}

.copy-btn {
    align-self: center;
}

.copied-btn,
.copied-btn:hover,
.copied-btn:active,
.copied-btn:focus {
    transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    cursor: default !important;
    background-color: #979797 !important;
}

@media only screen and (max-width: 768px) {
    .share-container {
        padding: 35px 18px 35px 18px;
    }
}


/* ACCORDEON */

.col
{
    display: flex;
    flex-direction: row;
}

.info-signup 
{
    position: relative;
    z-index: 2;
    margin-top:15px;
}

.accordeon h2 {
	font-size: 19px;
	line-height: 34px;
	font-weight: 600;
	letter-spacing: 1px;
	display: block;
	margin: 0;
    cursor: pointer;
    color: #dcdcdc;
}
.accordeon p {
	color: #dcdcdc;
	font-size: 15px;
	line-height: 26px;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	opacity: 1;
	transform: translate(0, 0);
	margin-top: 14px;
	z-index: 2;
}
.accordeon ul {
	list-style: none;
	perspective: 900;
	padding: 0 20px 10px;
    margin: 0;
    background-color: #161616;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 
	0 2px 2px 0 rgba(255, 255, 255, 0.19);
}
.accordeon ul li {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 18px;
    border-top: 1px solid #313131;
}

ul li:nth-child(1){ border:none; }
ul li:nth-of-type(1) { animation-delay: 0.5s; }
ul li:nth-of-type(2) { animation-delay: 0.75s; }
ul li:nth-of-type(3) { animation-delay: 1.0s; }
ul li:nth-of-type(4) { animation-delay: 1.25s; }
ul li:nth-of-type(5) { animation-delay: 1.5s; }
ul li:last-of-type { padding-bottom: 0; }

ul li .arrow {
	position: absolute;
	transform: translate(-6px, 0);
	margin-top: 16px;
	right: 0;
}
ul li .fas{
	color:#dcdcdc;
	font-size: 15px;
	margin-right: 10px;
    margin-top: 10px;
}
ul li .arrow:before, ul li .arrow:after {
	content: "";
	position: absolute;
	background-color: #dcdcdc;
	width: 3px;
	height: 9px;
}
ul li .arrow:before {
	transform: translate(-2px, 0) rotate(45deg);
}
ul li .arrow:after {
	transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
    z-index: 1;    
    opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ .arrow:before {
	transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ .arrow:after {
	transform: translate(-2px, 0) rotate(-45deg);
}
.transition, p, ul li .arrow:before, ul li .arrow:after {
	transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
	animation: flipdown 0.5s ease both;
}
.no-select, h2 {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}
@keyframes flipdown {
	0% {
		opacity: 0;
		transform-origin: top center;
		transform: rotateX(-90deg);
	}

	5% { opacity: 1; }

	80% { transform: rotateX(8deg); }

	83% { transform: rotateX(6deg); }

	92% { transform: rotateX(-3deg); }

	100% {
		transform-origin: top center;
		transform: rotateX(0deg);
	}
}

@media only screen and (max-width: 768px) {
    .accordeon h2 {
        font-size: 15px;
    }
    .accordeon p {
        font-size: 14px;
    }
}

/* SPACE */

.spacing-10 {
    display: block;
    height: 10px;
}

.spacing-20 {
    display: block;
    height: 20px;
}

.spacing-30 {
    display: block;
    height: 30px;
}

.spacing-40 {
    display: block;
    height: 40px;
}

.spacing-50 {
    display: block;
    height: 50px;
}