body {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.admin-logo-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.admin-content
{
    padding: 3%;
    box-sizing: border-box;
}

/* (B) SIDEBAR */
/* (B1) SIDEBAR ITSELF */
#pgside {   
    box-sizing: border-box;
    width: 200px;
    flex-shrink: 0;
    transition: width 0.2s;
    background: #283039;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    height: 100vh;
}

/* (B2) USER OR BRANDING */
#pgside #pguser {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

#pguser span {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 15px 5px 15px 5px;
    width: 100%;
}

#pgside #pguser img {
    width: 50px;
    margin-right: 5px;
    border-radius: 50%
}

/* (B3) SIDEBAR ITEMS */
#pgside,
#pgside a {
    color: #fff;
}

#pgside a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px 0px;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.logout {
    /* margin-top: auto; */
}

#pgside a.current {
    background: #DF1A56;
}

#pgside a:hover {
    cursor: pointer;
    transition: 0.2s;
    background: #a31d45;
}

/* (B4) SIDEBAR ICONS & TEXT */
#pgside i.ico,
#pgside i.txt {
    font-style: normal;
}

#pgside i.txt {
    margin-right: 20px;
}

#pgside i.ico {
    font-size: 1.1em;
    margin-right: 20px;
}


#pgmain {
    width: 100%;
    margin-left: 200px;
}

h2 {
    box-sizing: border-box !important;
    padding-left: 5% !important;
    margin-top: 20px !important;
    padding-bottom: 20px !important;
    border-bottom: 1px solid lavender !important;
    color: #2c2c2c !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: 100 !important;
    font-size: 22px !important;
    letter-spacing: 1.4px !important;
}

h3
{
    padding-left: 18px;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media screen and (max-width:768px) {
    #pgside {
        width: 70px;
    }

    #pgmain
    {
        margin-left: 70px !important;
    }

    #pgside #pguser {
        justify-content: center;
    }

    #pgside a {
        text-align: center;
        padding: 20px 0;
    }

    #pgside i.ico {
        font-size: 1.5em;
        margin-right: 0;
    }

    #pgside i.txt {
        display: none;
    }

    #pgside span {
        font-size: 11px;
    }

    .head
    {
        font-size: 11px;
    }

    .date
    {
        font-size: 10px !important;
    }

    .status
    {
        font-size: 10px !important;
    }

    a.viewbtn
    {
        height: 32px;
        width: 55px !important;
        font-size: 11px;
    }
}