.my-btn
{
    border-radius: 3px;
    padding: 10px 16px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

a.my-btn{ height: 25px; }
button.my-btn{ height: 44px; }

.my-btn:hover,
.my-btn:focus,
.my-btn:active
{
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    cursor: pointer;
}

.my-btn b
{
    font-size: 18px;
    font-weight: 900;
    margin-right: 5px;
}

.primary-btn
{
    border: 1.5px solid #1c1c1c;
    background-color: #1c1c1c00;
    color: #1c1c1c;
}

.primary-btn:hover,
.primary-btn:active,
.primary-btn:focus
{
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    border: 1.5px solid #1c1c1c;
    background-color: #1c1c1c;
    color: rgb(255, 255, 255);
}

.secondary-btn
{
    border: 1.5px solid #1c1c1c;
    background-color: #1c1c1c00;
    color: #1c1c1c;
}

.secondary-btn
{
    border: 1.5px solid #1c1c1c;
    background-color: #1c1c1c00;
    color: #1c1c1c;
}
