.admin-content .row
{
    --bs-gutter-x: 0px !important;
}

.my-btn
{
    border-radius: 3px;
    padding: 10px 16px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.my-btn{ 
    height: 45px; 
    width: max-content !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
}
button.my-btn{ height: 44px; }

.my-btn:hover,
.my-btn:focus,
.my-btn:active
{
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    cursor: pointer;
}

.my-btn b
{
    font-size: 18px;
    font-weight: 900;
    margin-right: 5px;
}

.primary-btn
{
    border: 1.5px solid #3ea568;
    background-color: #3ea568;
    color: #ffffff;
    margin-left: 18px;
}

.primary-btn:hover,
.primary-btn:active,
.primary-btn:focus
{
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    border: 1.5px solid #277546;
    background-color: #277546;
    color: rgb(255, 255, 255);
}

.secondary-btn
{
    border: 1.5px solid #1c1c1c;
    background-color: #1c1c1c00;
    color: #1c1c1c;
}

.secondary-btn
{
    border: 1.5px solid #1c1c1c;
    background-color: #1c1c1c00;
    color: #1c1c1c;
}
